body {
  font-family: Monospaced, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: left;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;

  h1 {
    font-family: monospace;
    margin: 0;
    font-size: 70px;
  }

  h2 {
    font-family: monospace;
    font-size: 28px;
  }
}
.contact-box {
  padding: 15px;
  background-color: #d8d6d5;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.contact-box i {
  font-size: 24px;
  margin-right: 10px;
  color: red;
}
.first-name
{
  font-weight: bold;
}
.last-name
{
  font-weight: normal;
}
.contact-info {
  text-align: left;
  margin: 10px 0;

  p {
    margin: 5px 0;
  }
}

.aboutMe
{
  margin-right: 0px;
  font-size: 18px;
}

.heading-section-left
{
  display: flex;
  flex-direction: row;
  overflow: visible;
  i{
    font-size: 1.5em;
    margin-top: 5px;
    margin-left: 10px;
  }
  h3{
    margin-left: 20px;
  }
}

.heading-section-right
{
  display: flex;
  flex-direction: row;
  overflow: visible;
  i{
    font-size: 1.5em;
    margin-top: 5px;
    margin-left: 5px;
  }
  h3{
    margin-left: 20px;
  }
}

.lorem-bolded
{
  font-weight: bold;
  font-style: italic;
}

.references,
.skills,
.languages,
.hobbies {
  margin: 20px 0;
}

h3 {
  padding-bottom: 5px;
}

.content {
  display: flex;
  justify-content: space-between;

  h3
  {
    font-weight: bold;
  }

  .content-left
  {
    width: 60%
  }
  .content-right {
    width: 38%;
  }
}

.education{
  margin: 0;
}

.education-item{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-left: 50px;
}


.education-left {
  width: 30%;

  h4 {
    font-style: italic;
    margin: 0;
  }

  .years {
    color: red;
    font-weight: bold;
  }
}

.education-right {
  width: 65%;

  h4 {
    font-weight: bold;
    margin: 0;
  }

  p {
    margin-top: 10px;
    text-align: justify;
    line-height: 1.5;
  }
}

.experience{
  margin: 0;
}

.experience-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-left: 50px;

  .experience-left {
    width: 30%;

    h4 {
      font-style: italic;
      margin: 0;
    }

    .location {
      font-style: italic;
    }

    .years {
      color: red;
      font-weight: bold;

      .present {
        font-weight: bold;
      }
    }
  }

  .experience-right {
    width: 65%;
    margin-left: 50px;

    h4 {
      font-weight: bold;
      margin: 0;
    }

    p {
      margin-top: 10px;
      text-align: justify;
      line-height: 1.5;
    }
  }
}

.reference-item {
  margin-bottom: 30px;
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }
}
.address {
  color: red;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 5px;
}

.bar-item {
  margin: 10px 0;

  h4{
    font-weight: bold;
  }
}

.bar {
  flex: 1;
  background-color: #eee;
  height: 8px;
  border-radius: 5px;
  position: relative;

  .progress {
    height: 100%;
    background-color: red;
    border-radius: 5px;
    position: relative;
  }
}
.progress::after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-color: red;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-radius: 2px;
}
.language-item {
  margin: 10px 0;
}
.circle-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.circle {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 20px auto;
}

svg {
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 1.8;
}

.circle-progress {
  fill: none;
  stroke: red;
  stroke-width: 1.8;
  stroke-linecap: round;
}

.circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.hobbies {
  ul {
    list-style: none;
    padding: 0;

    li {
      background: #f0f0f0;
      padding: 10px;
      margin: 5px 0;
      border-radius: 5px;
    }
  }
}

.underline {
  display: flex;
  align-items: center;
  margin-top: -5px;
  margin-bottom: 30px;
}

.underline .red-line {
  width: 40px;
  height: 4px;
  background-color: red;
  margin-right: 10px;
}

.underline .grey-line {
  flex-grow: 1;
  height: 1px;
  background-color: #333; /* Grey color for the long line */
}
